---
layout: default.njk
---
<main>
    {{ content | safe }}
</main>
<footer>
    <p>A <a href="https://github.com/cjw6k/">cjw6k</a> project. <a href="https://github.com/cjw6k/mnesi.ac">Code</a> on GitHub.</p>
</footer>
